<ion-content>

  <!--  <div class="presentation-container">
    <div class="darken-filter">
      <figure>
        <img src="../../../assets/icon/white-logo.png" alt="Nutripocket logo">
      </figure>
      <h3 color="dark">Tu nutricionista de bolsillo</h3>
    </div>
  </div> -->

  <div>
    <form (ngSubmit)="login(loginForm.value)" [formGroup]="loginForm" class="ion-padding">
      <ion-item>
        <ion-label position="floating" color="medium">
          Email
        </ion-label>
        <ion-input type="text" autocomplete="email" name="email" formControlName="email"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.email">
          <div class="alert" *ngIf="loginForm.get('email').hasError(validation.type) && loginForm.get('email').dirty">
            {{validation.message}}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-button slot="end" icon-only size="small" fill="default" *ngIf="passwordFormat=='text'"
          (click)="passwordToggle()">
          <ion-icon color="medium" name="eye-outline"></ion-icon>
        </ion-button>
        <ion-button slot="end" icon-only size="small" fill="default" *ngIf="passwordFormat!='text'"
          (click)="passwordToggle()">
          <ion-icon color="medium" name="eye-off-outline"></ion-icon>
        </ion-button>

        <ion-label position="floating" color="medium">
          Contraseña
        </ion-label>
        <ion-input type="{{passwordFormat}}" autocomplete="password" name="password" formControlName="password">
        </ion-input>
      </ion-item>

      <ng-container *ngFor="let validation of validationMessages.password">
        <div class="alert"
          *ngIf="loginForm.get('password').hasError(validation.type) && loginForm.get('password').dirty">
          {{validation.message}}
        </div>
      </ng-container>

      <ion-button class="ion-padding" type="submit" color="warning" expand="full" size="medium"
        [disabled]="!loginForm.valid" shape="round">
        <ion-text color="light" class="text-shadow">Iniciar sesión</ion-text>
      </ion-button>




      <ion-button class="ion-padding" expand="full" size="medium" color="light" shape="round">
        <ion-label color="medium">Iniciar sesión con Google</ion-label>
        <ion-icon color="medium" name="logo-google" slot="start"></ion-icon>
      </ion-button>



      <ion-button class="ion-padding" expand="full" size="medium" color="light" fill="outline" shape="round">
        <ion-label color="medium">¿Eres nuevo? Regístrate!</ion-label>
      </ion-button>
    </form>
  </div>

  <ion-item lines="none" class="footer">
    <a href="">Aviso Legal</a>
  </ion-item>


</ion-content>