/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "UbuntuMedium";
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}

* {
  font-family: sans-serif;
}


ion-title{
  font-size: 1rem !important;
}

.big-buttons{
  padding: 0 60px !important;
}

//animations

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pushToDelete {
  0% {
    transform:scale(1)
  }
  100% {
    transform:scale(0) ;
  }
}

@keyframes deleteToLeft {
  30% {
    transform:translateX(-150vw) ;
    margin-bottom:0;
  }
  100% {
    opacity: 0;
    margin-bottom:-100%;
  }
}

@keyframes appearScalingY {
  0% {
    transform:scaleY(0);
    opacity:0;
    margin-bottom: 0%;
  }
  100% {
    transform:scaleY(1);
    opacity:1;
    margin-bottom: 100%;
  }
}

@keyframes dissAppearScalingY {
 
  0% {
    transform:scaleY(1);
    opacity:1;
    margin-bottom: 100%;
  }
  100% {
    transform:scaleY(0);
    opacity:0;
    margin-bottom: 0%;
  }
}

@keyframes appear {
 
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


@keyframes dissappear {
 
  0% {
    opacity:1;
  }
  100% {
    opacity:0;

  }
}

