<ion-split-pane contentId="content">
  <ion-menu contentId="content" side="start">
    <ion-header color="secondary">
      <ion-toolbar color="secondary">
        <figure>
          <img src="../../../assets/icon/black-logo.png" alt="Logo Nutripocket">
        </figure>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item *ngFor="let menuItem of menuItems" routerLinkActive="/{{menuItem.url}}"
          routerLink="/{{menuItem.url}}" (click)="closeMenu()">
          <ion-icon *ngIf="menuItem.icon" name="{{menuItem.icon}}" slot="start" color="medium"></ion-icon>
          {{menuItem.name}}
        </ion-item>
   <!--      <ion-item (click)="logout()">
          <ion-icon name="log-out" slot="start"></ion-icon>
          Cerrar cuenta
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>